body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    background-color: white;
}

/* CSS colors */

.black {
    color: #000;
}
.red {
    color: #ed564b;
}

.grey {
    color: rgb(170, 170, 170);
}

.bg-white {
    background-color: white;
}

/* links colors */

.alink:link {
color: #777;
}

.alink:visited {
color: #777;
}

.alink:hover {
color: #ed564b;
background-color: white;
text-decoration: none;
}

.alink:active {
color: #ed564b;
}

/* header navbar */
header{
    background-color: white;
    margin: 15px 25px;
}

.hr-size{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

/* Carousel */
.img-carousel {
    filter: grayscale(100%);
    opacity: 90%;
    width: 100%;
    height: 550px;
    object-fit: cover;
    position: relative;
    
}

.img-pixelized{
    background-image: url(/starter-code/img/overlay.png);
    width: 100%;
    height: 550px;
    position: absolute;
    top: 0;
    left: 0;
}

.curseurs{
    background-color: #ed564b;
    padding: 50px 20px;
    opacity: 100%;
}

.read-more-btn{
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid #fff;
    color: white;
    text-decoration: none;    
}

.read-more-btn:hover, .read-more-btn:active{
    color: white;
    text-decoration: none; 
    background-color: rgba(255, 255, 255, 0.3);
}

.carousel-caption{
    width: 800px;
    margin: 0 auto; 
}


/* usecases */
#usecases{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(237, 86, 75, 1)    ;
    height: 285px;
}

#hr-usecases{
    width: 100%;
    height: 5px;
    background-color:rgba(255, 255, 255, 0.5);
    border: none;
    margin: 0;
}

#cases {
    color: white;
    margin-left: auto;
    margin-right: auto;
}

.vignette{
    padding: 0 10px;
}

.case-icon{
    width: 20px;    
}

.circle-icon{
    width: 70px;
    height: 70px;
    border: solid 4px white;
    border-radius: 100px;
    margin: 20px auto;
}

/* Section lastests */
#latest h1.black {
    padding-top: 2em;
}

#latest hr{
    padding-bottom: 0.75em;
}

#latest img{
    border: none;
    height: 200px;   
    object-fit: cover;    
}

/* latest projects */

.latest-articles{
    padding-bottom: 2em;
}

.latest-projects a{
    text-decoration: none;
    color:black;
}

/* latest articles */
.latest-articles a{
    text-decoration: none;
    color:black;
    font-weight: bold;
    font-size: 1.2em;
}

.latest-articles span {
    font-size: 1em;
    color: rgb(96, 96, 96);
    font-weight: bold;
}

a.red {
    color: #ed564b;
    font-size: 1em;
}

a.red:hover {
    color: black;
}

.latest-articles p{
    font-size: 1em;
    color: #777;
    padding-top: 15px;
}


/* footer */
footer{
    color: white;
    background-color: rgb(59, 59, 59);
    font-size: 0.75em;
}

footer div.container {
    margin: 3em auto;
}

footer h3{
    padding-bottom: 1em;
}

footer p{
    color: rgb(170, 170, 170);
    margin-bottom: 0;
}

footer a {
    text-decoration: none;
    color: rgb(170, 170, 170);    
}

footer a:hover {
    color: white;
}

hr#sep{
    height: 5px;
    background-color: #ed564b;
    opacity: 1;
}

footer hr {
    margin: 0.5em 0;
}

/* copyrights footer */
#copyrights{
    color: white;
    background-color: rgb(41, 41, 41);
}

.copyrights-text{
    color: white;
    padding: 20px 0 20px 200px;    
}